<br>
Please provide your flight information below 
<br><br>
<form>
<label for="airline">Airline:</label>
<input type="text" [(ngModel)]="flightInfo.airline" id="airline" name="airline">
<br>
<label for="arrivalDate">Date of arrival:</label>
<input type="text" [(ngModel)]="flightInfo.arrivalDate" id="arrivalDate" name="arrivalDate">
<br>
<label for="arrivalTime">Time of arrival:</label>
<input type="text" [(ngModel)]="flightInfo.arrivalTime" id="arrivalTime" name="arrivalTime">
<br>
<label for="flightNumber">Flight number:</label>
<input type="text" [(ngModel)]="flightInfo.flightNumber" id="flightNumber" name="flightNumber">
<br>
<label for="numOfGuests">Number of guests:</label>
<input type="text" [(ngModel)]="flightInfo.numOfGuests" id="numOfGuests" name="numOfGuests">
<br>
<label for="comments">Additional comments:</label>
<input type="text" [(ngModel)]="flightInfo.comments" id="comments" name="comments" value="N/A">
<br>
<input type="submit" value="Submit">
</form>
